nav {
    background: #3D9FE1;
    color: aliceblue;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    position: fixed;
}

nav input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

nav label {
    cursor: pointer;
    display: block;
    font-size: 25px;
    padding: 0.5em;
}

#menu-icon,#menu-icon:before,#menu-icon:after {
    background: aliceblue;
    border-radius: 0.05em;
    height: 0.2em;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

#menu-icon {
    display: inline-block;
    margin: 0.4em 0;
    max-width: 1em;
    position: relative;
}

nav label #menu-icon {
    float: right;
}

#menu-icon:before, #menu-icon:after {
    content: '';
    left: 0;
    position: absolute;
}

#menu-icon:before {
    top: -0.4em;
}

#menu-icon:after {
    bottom: -0.4em;
}

nav input[type=checkbox]:checked + label #menu-icon {
    background: transparent;
}

nav input[type=checkbox]:checked + label #menu-icon:before {
    top: 0;
    transform: rotate(-45deg);
}

nav input[type=checkbox]:checked + label #menu-icon:after {
    bottom: 0;
    transform: rotate(45deg);
}

nav input:checked ~ #overlay {
    background: rgba(61, 159, 225, .3);
    bottom: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
}

nav ul {
    font-size: 1.5em;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

nav input:checked ~ ul {
    margin: 50px 1em 1em;
    max-height: inherit;
    opacity: 1;
}

nav ul > li {
    margin: 1.5em 0;
}

nav ul a {
    color: aliceblue;
    text-decoration: none;
    font-size: 30px;
}

nav ul a:hover {
    text-decoration: underline;
}

.scrolled{
    background: rgba(61, 159, 225, .3);
}

.nav-link{
    color: #212529;
}
