.products-wrapper {
    margin: 20px;
    background: #3D9FE1;
}
.products-wrapper .tabs-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
    grid-template-rows: minmax(max-content, min-content);
    justify-items: center;
    margin-bottom: 2rem;
}
.products-wrapper .tabs-wrapper .tab-item {
    min-width: min-content;
    width: auto;
    height: auto;
    align-self: center;
    text-align: center;
    cursor: pointer;
    padding: 0 10px;
}
.products-wrapper .tabs-wrapper .tab-item i {
    height: auto;
    max-height: 128px;
}
.products-wrapper .tabs-wrapper .tab-item:hover{
    color: #176192;
}
.products-wrapper .tabs-wrapper .tab-item.active{
    color: aliceblue;
}
.products-wrapper .tabs-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
}
.products-wrapper .tabbed-content {
    height: min-content;
}
.products-wrapper .tabbed-content .item-content {
    width: 100%;
    display: none;
    grid-auto-rows: repeat(auto-fit, minmax(auto, max-content));
    grid-gap: 2rem;
    opacity: 0;
    transition: all 0.5s ease-out;
}
.products-wrapper .tabbed-content .item-content.active {
    display: grid;
    opacity: 1;
    transition: all 0.5s ease-out;
}
.products-wrapper .tabbed-content .item-content .highlights {
    padding: 1rem;
}
.products-wrapper .tabbed-content .item-content .highlights:hover, .products-wrapper .tabbed-content .item-content .highlights:focus {
    background: #176192;
    border-radius: 2rem;
    transition: all 0.5s ease-out;
}
.products-wrapper .tabbed-content .item-content .highlights h4 {
    margin: auto;
}
.highlights img{
    width: 100%;
    margin: 20px 0;
}
.highlights h2, .highlights h4{
    color: aliceblue;
}
@media screen and (min-width: 768px) {
    .products-wrapper .tabbed-content .item-content {
        grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 575.98px) {
    .tab-item i{
        font-size: 50px;
    }
    .tab-item p{
        display: none;
    }
}
